<table class="table" id="js-book-table" data-type="<%= type %>">
  <tr class="table-header header">
    <th class="table-cell">Book Title</th>
    <th class="table-cell">Author</th>
    <th class="table-cell table-cell-status">Status</th>
    <th class="table-cell table-cell-rating">Rating</th>
  </tr>
  <% for(var i = 0; i < books.length; i++) { %>
    <tr id="<%= books[i].id %>" class="table-row js-edit-book" onClick="openModal(this.id)">
      <td class="table-cell" data-title="<%= books[i].title %>"><%= books[i].title %></td>
      <td class="table-cell" data-author="<%= books[i].author_firstname %> <%= books[i].author_surname %>"><%= books[i].author_firstname %> <%= books[i].author_surname %></td>
      <td class="table-cell table-cell-status table-cell-status--<%= books[i].status %>" data-status="<%= books[i].status %>" data-year="<%= books[i].year %>"></td>
      <td class="table-cell table-cell-rating" data-rating="<%= books[i].rating %>">
        <% if (books[i].rating) { %>
          <%= books[i].rating %>/5
        <% } %>
      </td>
    </tr>
  <% } %>
</table>

<%- include('../components/modal', {
  action: "/edit-book",
  fields: [
    {
      type: "text",
      name: "type",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      name: "id",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      label: "Title",
      name: "title",
      prepopulate: true
    },
    {
      type: "text",
      label: "Author",
      name: "author",
      prepopulate: true,
      disabled: true
    },
    {
      type: "select",
      label: "Status",
      name: "status",
      options: [
        {
          label: "Not started",
          value: 1
        },
        {
          label: "Wishlist",
          value: 2
        },
        {
          label: "In progress",
          value: 3
        },
        {
          label: "Completed",
          value: 4
        },
        {
          label: "Abandoned",
          value: 5
        }
      ],
      prepopulate: true
    },
    {
      type: "text",
      label: "Completion Year",
      name: "year",
      prepopulate: true,
      toggleBasedOn: "status",
      triggerShow: "4"
    },
    {
      type: "star",
      label: "Rating",
      name: "rating",
      prepopulate: true,
    }
  ]
}); %>
