<table class="table" id="js-book-table" data-type="<%= type %>">
  <tr class="table-header header">
    <th class="table-cell">Book Title</th>
    <th class="table-cell">Author</th>
    <th class="table-cell">Status</th>
  </tr>
  <% for(var i = 0; i < books.length; i++) { %>
    <tr id="<%= books[i].Id %>" class="table-row js-edit-book" onClick="openModal(this.id)">
      <td class="table-cell" data-title="<%= books[i].Title %>"><%= books[i].Title %></td>
      <td class="table-cell" data-author="<%= books[i].Author_FirstName %> <%= books[i].Author_Surname %>"><%= books[i].Author_FirstName %> <%= books[i].Author_Surname %></td>
      <td class="table-cell table-cell-status table-cell-status--<%= books[i].Status %>" data-status="<%= books[i].Status %>"></td>
    </tr>
  <% } %>
</table>

<%- include('../components/modal', {
  action: "/edit-book",
  fields: [
    {
      type: "text",
      name: "type",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      name: "id",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      label: "Title",
      name: "title",
      prepopulate: true
    },
    {
      type: "text",
      label: "Author",
      name: "author",
      prepopulate: true,
      disabled: true
    },
    {
      type: "select",
      label: "Status",
      name: "status",
      options: [
        {
          label: "Not started",
          value: 1
        },
        {
          label: "Wishlist",
          value: 2
        },
        {
          label: "In progress",
          value: 3
        },
        {
          label: "Completed",
          value: 4
        },
        {
          label: "Abandoned",
          value: 5
        }
      ],
      prepopulate: true
    },
    {
      type: "text",
      label: "Completion Year",
      name: "year",
      toggleBasedOn: "status",
      triggerShow: "4"
    }
  ]
}); %>
