<table class="table" id="js-book-table" data-type="<%= type %>">
  <tr class="table-header header">
    <th class="table-cell">Book Title</th>
    <th class="table-cell">Author</th>
    <th class="table-cell">Status</th>
  </tr>
  <% for(var i = 0; i < books.length; i++) { %>
    <tr id="<%= books[i].Id %>" class="table-row js-edit-book" onClick="openModal(this.id)">
      <td class="table-cell" data-title="<%= books[i].Title %>"><%= books[i].Title %></td>
      <td class="table-cell" data-author="<%= books[i].Author_FirstName %> <%= books[i].Author_Surname %>"><%= books[i].Author_FirstName %> <%= books[i].Author_Surname %></td>
      <td class="table-cell table-cell-status table-cell-status--<%= books[i].Status %>" data-status="<%= books[i].Status %>"></td>
    </tr>
  <% } %>
</table>
