<% if (locals.action && locals.fields) { %>
  <div class="hidden modal__background js-modal-bg"></div>

  <div class="hidden modal__form-wrapper js-modal">
    <a href="#" class="js-modal__close" onClick="location.reload();">X</a>

    <form method="post" action="<%= action %>">

      <% for(var i = 0; i < fields.length; i++) { %>
        <% currentField = fields[i] %>
        <% var id = "js-modal--" + currentField.name %>
        <% var hiddenClass = currentField.hidden ? "hidden" : "" %>
        <% var disabled = currentField.disabled ? "disabled" : "" %>
        <% var readonly = currentField.readonly ? "readonly" : "" %>
        <% var prepopulate = currentField.prepopulate ? "data-prepopulate=" + currentField.name : "" %>
        <% var toggleBasedOn = currentField.toggleBasedOn ? "data-toggle-on=" + currentField.toggleBasedOn : "" %>
        <% var triggerShow = currentField.triggerShow ? "data-trigger-show=" + currentField.triggerShow : "" %>

        <% if (toggleBasedOn.length > 0) { %>
          <div class="hidden" <%= toggleBasedOn %> <%= triggerShow %>>
        <% } %>

        <% if (currentField.type === "text") { %>
          <% if (currentField.label) { %>
            <label for="<%= id %>"><%= currentField.label %></label>
          <% } %>
          <input class="<%= hiddenClass %>" type="text" id="<%= id %>" name="<%= currentField.name %>" <%= disabled %> <%= readonly %> <%= prepopulate %>>
        <% } %>

        <% if (currentField.type === "select") { %>
          <% if (currentField.label) { %>
            <label for="<%= id %>"><%= currentField.label %></label>
          <% } %>
          <select id="<%= id %>" name="<%= currentField.name %>" <%= prepopulate %>>
            <% for(var j = 0; j < currentField.options.length; j++) { %>
              <% var currentOption = currentField.options[j] %>
              <option value="<%= currentOption.value %>"><%= currentOption.label %></option>
            <% } %>
          </select>
        <% } %>

        <% if (currentField.type === "star") { %>
          <div>
            <div class="rate" <%= prepopulate %>>
              <p><%= currentField.label %></p>
              <input type="radio" id="star5" name="<%= currentField.name %>" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="<%= currentField.name %>" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="<%= currentField.name %>" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="<%= currentField.name %>" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="<%= currentField.name %>" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
        <% } %>

        <% if (toggleBasedOn.length > 0) { %>
          </div>
        <% } %>

      <% } %>

      <button>Save changes</button>
    </form>

  </div>
<% } %>

<script src="public/javascript/modal.js"></script>
