<%- include('partials/header.ejs') -%>
<script src="/dist/javascript/Chart.min.js"></script>

<main class="dashboard">
  <!-- Hidden data for charts -->
  <span class="hidden" data-doughnut="<%= doughnutData %>"></span>
  <span class="hidden" data-line="<%= completedListBooksData %>"></span>
  <span class="hidden" data-nonlist-line="<%= completedNonListBooksData %>"></span>

  <section>

    <!-- Completed Stats -->
    <%- include('components/dashboard_stats', {
      action: "read",
      object: "books",
      totalListedStat: {
        userCount: doughnutData,
        total: 1001
      },
      totalNonlistedStat: {
        userCount: nonListBooksCompletedData,
      }
    }); %>

    <!-- Doughnut : completed / 1001 -->
    <div class="dashboard__section">
      <h2 class="dashboard__section-heading">Percentage of 1001 books completed</h2>
      <div class="dashboard__graph">
        <canvas id="books__graph-doughnut"></canvas>
      </div>
    </div>

    <!-- Line : books read -->
    <div class="dashboard__section">
      <h2 class="dashboard__section-heading">Count of books read each year</h2>
      <div class="dashboard__graph">
        <canvas id="books__graph-line"></canvas>
      </div>
    </div>

  </section>

  <nav class="books__nav main__sidebar">
    <a href="/search?type=list&list=books">Search all 1001 books</a>
    <a href="/search?type=nonlist&list=books">Search all other books</a>
    <a href="/search?type=wishlist&list=books">View wishlist</a>
    <a href="completion-report">Completion report</a>
    <a href="#" class="js-add-book" onClick="openModal()">Add book</a>
  </nav>

</main>

<div class="hidden books__modal-bg js-modal-bg"></div>
<div class="hidden books__modal-form-wrapper js-modal">
  <a href="#" class="js-modal__close" onClick="location.reload();">X</a>
  <form method="post" action="/add-book">
    <label for="js-edit-book__title">Title:</label>
    <input type="text" id="js-edit-book__title" name="title">
    <label for="js-edit-book__author">Author Firstname:</label>
    <input type="text" id="js-edit-book__surname-author" name="surname_author">
    <label for="js-edit-book__author">Author Surname:</label>
    <input type="text" id="js-edit-book__firstname-author" name="firstname_author">
    <label for="js-edit-book__status">Status:</label>
    <select id="js-modal__status" name="status">
      <option value="1">Not started</option>
      <option value="2">Wishlist</option>
      <option value="3">In progress</option>
      <option value="4">Completed</option>
    </select>
    <div class="hidden js-modal__year-wrapper">
      <label for="js-modal__year">Completion year:</label>
      <input type="text" id="js-modal__year" name="year">
    </div>
    <button>Add book</button>
  </form>
</div>

<script src="dist/javascript/books_charts.js"></script>
<script src="dist/javascript/modal.js"></script>

<%- include('partials/footer.ejs') -%>
