<%- include('partials/header.ejs') -%>
<script src="/dist/javascript/Chart.min.js"></script>

<main class="books">
  <span class="hidden" data-doughnut="<%= doughnutData %>"></span>
  <span class="hidden" data-line="<%= completedListBooksData %>"></span>
  <span class="hidden" data-nonlist-line="<%= completedNonListBooksData %>"></span>
  <section class="books__graphs main__stats">

    <!-- Completed Stats -->
    <div class="stats books__section">
      <p>You have read <span class="books__stats--highlight"><%= doughnutData %></span> books out of 1001</p>
      <p>You have read <span class="books__stats--highlight"><%= nonListBooksCompletedData %></span> other books</p>
      <p>That's <span class="books__stats--highlight"><%= (nonListBooksCompletedData + doughnutData)  %></span> books in total since 2011!</p>
    </div>

    <!-- Doughnut : completed / 1001 -->
    <div class="books__section">
      <h2>Percentage of 1001 books completed</h2>
      <div class="books__graph-doughnut">
        <canvas id="books__graph-doughnut"></canvas>
      </div>
    </div>

    <!-- Line : books read -->
    <div class="books__section">
      <h2>Count of books read each year</h2>
      <div class="books__graph-line">
        <canvas id="books__graph-line"></canvas>
      </div>
    </div>

  </section>
  <nav class="books__nav main__sidebar">
    <a href="/search?type=list&list=books">Search all 1001 books</a>
    <a href="/search?type=nonlist&list=books">Search all other books</a>
    <a href="/search?type=wishlist&list=books">View wishlist</a>
    <a href="completion-report">Completion report</a>
    <a href="#" class="js-add-book" onClick="openModal()">Add book</a>
  </nav>
</main>

<div class="hidden books__modal-bg js-modal-bg"></div>
<div class="hidden books__modal-form-wrapper js-modal">
  <a href="#" class="js-modal__close" onClick="location.reload();">X</a>
  <form method="post" action="/add-book">
    <label for="js-edit-book__title">Title:</label>
    <input type="text" id="js-edit-book__title" name="title">
    <label for="js-edit-book__author">Author Firstname:</label>
    <input type="text" id="js-edit-book__surname-author" name="surname_author">
    <label for="js-edit-book__author">Author Surname:</label>
    <input type="text" id="js-edit-book__firstname-author" name="firstname_author">
    <label for="js-edit-book__status">Status:</label>
    <select id="js-modal__status" name="status">
      <option value="1">Not started</option>
      <option value="2">Wishlist</option>
      <option value="3">In progress</option>
      <option value="4">Completed</option>
    </select>
    <div class="hidden js-modal__year-wrapper">
      <label for="js-modal__year">Completion year:</label>
      <input type="text" id="js-modal__year" name="year">
    </div>
    <button>Add book</button>
  </form>
</div>

<script src="dist/javascript/charts.js"></script>
<script src="dist/javascript/modal.js"></script>

<%- include('partials/footer.ejs') -%>
