<%- include('partials/header.ejs') -%>

<main>
  <a class="app__back-link" href="/books">Back</a>

  <% if(completedListBooks) { %>
    <div class="completion-report-table">
      <h2>Completed list books</h2>
      <table class="table" id="js-book-table">
        <tr class="table-header header">
          <th class="table-cell completion-report-cell">Book Title</th>
          <th class="table-cell completion-report-cell">Year</th>
        </tr>
        <% for(var i = 0; i < completedListBooks.length; i++) { %>
          <tr class="table-row js-edit-book">
            <td class="table-cell completion-report-cell"><%= completedListBooks[i].title %></td>
            <td class="table-cell completion-report-cell"><%= completedListBooks[i].year %></td>
          </tr>
        <% } %>
      </table>
    </div>
  <% } %>

  <% if(completedNonListBooks) { %>
    <div class="completion-report-table">
      <h2>Completed non-list books</h2>
      <table class="table" id="js-book-table">
        <tr class="table-header header">
          <th class="table-cell">Book Title</th>
          <th class="table-cell">Year</th>
        </tr>
        <% for(var i = 0; i < completedNonListBooks.length; i++) { %>
          <tr class="table-row js-edit-book">
            <td class="table-cell"><%= completedNonListBooks[i].title %></td>
            <td class="table-cell"><%= completedNonListBooks[i].year %></td>
          </tr>
        <% } %>
      </table>
    </div>
  <% } %>
</main>

<%- include('partials/footer.ejs') -%>
