<%- include('partials/header.ejs') -%>

<main>
  <%
    back_link = locals.books ? "/books" : "/travel"
  %>
  <a class="app__back-link" href="<%= back_link %>">Back</a>

    <form class="table-filter">
      <label class="table-filter__label" for="book-search">Search</label>
      <input id="js-search-input" class="table-filter__input" type="text" id="book-search" name="book-search">
    </form>

    <% if(locals.books) { %>
      <%- include('partials/books_table.ejs') -%>
    <% } else if (locals.sites) { %>
      <%- include('partials/travel_table.ejs') -%>
    <% } %>
</main>


<%- include('components/modal', {
  action: "/edit-book",
  fields: [
    {
      type: "text",
      name: "type",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      name: "id",
      prepopulate: true,
      hidden: true,
      readonly: true
    },
    {
      type: "text",
      label: "Title",
      name: "title",
      prepopulate: true
    },
    {
      type: "text",
      label: "Author",
      name: "author",
      prepopulate: true,
      disabled: true
    },
    {
      type: "select",
      label: "Status",
      name: "status",
      options: [
        {
          label: "Not started",
          value: 1
        },
        {
          label: "Wishlist",
          value: 2
        },
        {
          label: "In progress",
          value: 3
        },
        {
          label: "Completed",
          value: 4
        }
      ],
      prepopulate: true
    },
    {
      type: "text",
      label: "Completion Year",
      name: "year",
      toggleBasedOn: "status",
      triggerShow: "4"
    }
  ]
}); %>

<script src="dist/javascript/lib/paginate.min.js"></script>
<script src="dist/javascript/table.js"></script>

<%- include('partials/footer.ejs') -%>
