<%- include('partials/header.ejs') -%>

<main>
  <a class="app__back-link" href="/books">Back</a>

  <% if(books) { %>
    <form>
      <label class="book__search-label" for="book-search">Search books</label>
      <input id="js-search-input" class="book__search-input" type="text" id="book-search" name="book-search">
    </form>

    <table class="book__table" id="js-book-table">
      <tr class="book__table-header header">
        <th class="book__table-cell">Book Title</th>
        <th class="book__table-cell">Author</th>
        <th class="book__table-cell">Status</th>
      </tr>
      <% for(var i = 0; i < books.length; i++) { %>
        <tr id="<%= books[i].Id %>" class="book__table-row js-edit-book" onClick="openModal()">
          <td class="book__table-cell"><%= books[i].Title %></td>
          <td class="book__table-cell"><%= books[i].Author_FirstName %> <%= books[i].Author_Surname %></td>
          <td class="book__table-cell book__table-cell-status book__table-cell-status--<%= books[i].Status %>"><span class="hidden js-book-status"><%= books[i].Status %></span></td>
        </tr>
      <% } %>
    </table>
  <% } %>
</main>

<div class="hidden books__modal-bg js-modal-bg"></div>
<div class="hidden books__modal-form-wrapper js-modal">
  <a href="#" class="js-modal__close" onClick="location.reload();">X</a>
  <form method="post" action="/edit-book">
    <input class="hidden" type="text" name="type" value="<%= type %>" readonly>
    <input class="hidden" type="text" id="js-edit-book__id" name="id" readonly>
    <label for="js-edit-book__title">Title:</label>
    <input type="text" id="js-edit-book__title" name="title">
    <label for="js-edit-book__author">Author:</label>
    <input type="text" id="js-edit-book__author" name="author" disabled>
    <label for="js-edit-book__status">Status:</label>
    <select id="js-modal__status" name="status">
      <option value="1">Not started</option>
      <option value="2">Wishlist</option>
      <option value="3">In progress</option>
      <option value="4">Completed</option>
    </select>
    <div class="hidden js-modal__year-wrapper">
      <label for="js-modal__year">Completion year:</label>
      <input type="text" id="js-modal__year" name="year">
    </div>
    <button>Save changes</button>
  </form>
</div>

<script src="dist/javascript/lib/paginate.min.js"></script>
<script src="dist/javascript/table.js"></script>
<script src="dist/javascript/modal.js"></script>
<script src="dist/javascript/editbook.js"></script>

<%- include('partials/footer.ejs') -%>
