<%- include('partials/header.ejs') -%>

<main>
  <%
    back_link = locals.books ? "/books" : "/travel"
  %>
  <a class="app__back-link" href="<%= back_link %>">Back</a>

    <form class="table-filter">
      <label class="table-filter__label" for="book-search">Search</label>
      <input id="js-search-input" class="table-filter__input" type="text" id="book-search" name="book-search">
    </form>

    <% if(locals.books) { %>
      <%- include('partials/books_table.ejs') -%>
    <% } else if (locals.sites) { %>
      <%- include('partials/travel_table.ejs') -%>
    <% } %>
</main>

<script src="public/javascript/lib/paginate.min.js"></script>
<script src="public/javascript/table.js"></script>

<%- include('partials/footer.ejs') -%>
