<%- include('partials/header.ejs') -%>
<script src="/dist/javascript/Chart.min.js"></script>

<main class="dashboard">
  <section>

    <!-- Completed Stats -->
    <%- include('components/dashboard_stats', {
      action: "visited",
      object: "places",
      totalListedStat: {
        userCount: totalCompletedListedSites,
        total: totalListedSites
      },
    }); %>

    <!-- Chart: Doughnut -->
    <div class="dashboard__section">
      <%- include('components/chart_doughnut', {
        heading: "Percentage of sites visited",
        userCount: totalCompletedListedSites,
        total: totalListedSites,
        labels: [ "Visited", "Not Visited" ],
      }); %>
    </div>

  </section>

  <%- include('components/nav', {
    links: [
      {
        href: "/search?type=list&list=travel",
        text: "Search listed sites"
      }
    ]
  }); %>
</main>

<script src="dist/javascript/chart_doughnut.js"></script>

<%- include('partials/footer.ejs') -%>
