<%- include('partials/header.ejs') -%>
<script src="/dist/javascript/Chart.min.js"></script>

<main class="dashboard">
  <!-- Hidden data for charts -->
  <span class="hidden" data-total-sites="<%= totalListedSites %>"></span>
  <span class="hidden" data-doughnut="<%= totalCompletedListedSites %>"></span>

  <section>

    <!-- Completed Stats -->
    <%- include('components/dashboard_stats', {
      action: "visited",
      object: "places",
      totalListedStat: {
        userCount: totalCompletedListedSites,
        total: totalListedSites
      },
    }); %>

    <!-- Doughnut : completed / 1001 -->
    <div class="dashboard__section">
      <h2 class="dashboard__section-heading">Percentage of sites visited</h2>
      <div class="dashboard__graph">
        <canvas id="travel__graph-doughnut"></canvas>
      </div>
    </div>

  </section>

  <nav class="travel__nav main__sidebar">
    <a href="/search?type=list&list=travel">Search <%= totalListedSites %> listed sites</a>
    <!--<a href="/search?type=nonlist&list=travel">Search all other books</a>
    <a href="/search?type=wishlist&list=travel">View wishlist</a>
    <a href="completion-report">Completion report</a>-->
  </nav>
</main>

<script src="dist/javascript/travel_charts.js"></script>

<%- include('partials/footer.ejs') -%>
