<%- include('partials/header.ejs') -%>
<script src="/dist/javascript/Chart.min.js"></script>

<main class="dashboard">
  <a class="app__back-link" href="/">Back</a>
  <section>

    <%
      var continents = JSON.parse(visitedCountries).map(function(country) {
          return country.continent
      })
      var uniqContinents = new Set(continents)
    %>

    <!-- Completed Stats -->
    <%- include('components/dashboard_stats', {
      action: "visited",
      object: "places",
      other_object: "countries",
      summary: false,
      totalListedStat: {
        userCount: totalCompletedListedSites,
        total: totalListedSites
      },
      totalNonlistedStat: {
        userCount: totalCompletedCountries,
        total: totalCountries
      },
      custom: {
        action: "visited",
        object: "continents",
        userCount: uniqContinents.size,
        total: 7
      }
    }); %>

    <!-- Chart: Doughnut -->
    <div class="dashboard__section">
      <%- include('components/chart_doughnut', {
        heading: "Percentage of sites visited",
        userCount: totalCompletedListedSites,
        total: totalListedSites,
        labels: [ "Visited", "Not Visited" ],
      }); %>
    </div>

    <!-- Chart: Map -->
    <div class="dashboard__section">
      <%- include('components/map', {
        visitedCountries: visitedCountries
      } ) %>
      <button class="dashboard__map-button" onClick="openMapFullSize()">View Full Size Map</button>
    </div>
  </section>

  <%- include('components/nav', {
    links: [
      {
        href: "/search?type=list&list=travel",
        text: "Search listed sites"
      },
      {
        href: "/search?type=nonlist&list=travel",
        text: "Search countries"
      }
    ]
  }); %>
</main>

<script src="dist/javascript/chart_doughnut.js"></script>
<script src="dist/javascript/map.js"></script>

<%- include('partials/footer.ejs') -%>
